* {
	font-family: 'Muli', sans-serif;
}

#editor > h1, .centered {
	text-align: center;
}

.editor {
	border: 1px solid black;
	padding: 5px;
}

.result {
	width: 100%; height: 50vh; font-family: monospace;
}

.option_text_collapsed {
	display: none;
}

#dragons {
	display: none;
}

.navbar_menu {
	display: block;
  width: 13em;
  position: static;
  margin-left: 20px;
}

.delete {
	background: #f55;
	margin-right: 5px;
	border-radius: 2px;
}

.new {
	background: #5f5;
	margin-right: 5px;
	border-radius: 2px;
}

.toggle {
	background: #555;
	color: #fff;
	margin-right: 5px;
	border-radius: 2px;
}

#menu p {
	margin-bottom: 0px;
	margin-top: 0px;
}

#pages h4 {
	margin-bottom: 0px;
}

#pages h4 + ul li, #pages h4 + ul {
	margin-top: 0px;
}

#menu p:not([style]), #menu p[style~="0px;"] {
	border-top: 1px solid black;
}

.pagetitle {
	display: inline-block;
}

#editor {
	display: none;
}