* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
  transition: margin .5s cubic-bezier(.5,0,.5,1); /* gently modified ease-in-out */
  height: 100vh;
  top: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

h1 {
  color: black;
  font-size: 4em;
}

div.left {
  margin-left: 7%;
}

div.right {
  position: absolute;
  right: 1%;
}

h1 {
  margin-top: 0;
}

div.text p {
  text-indent: 1em;
}

div.text {
  width: 30%;
}

div.text.full {
  width: 100%;
}

.page {
  width: 100%;
  min-height: 92vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: show;
}

.page.pagesmall {
  min-height: 66vh;
}

.moving_img {
  position: absolute;
  height: 128px;
  width: 128px;
}

.move2 {
  margin-top: 132px;
}

#spacer {
  visibility: none;
}

img.right {
  position: absolute;
  margin-top: -250px;
  right: 5%;
  width: 350px;
  height: 350px;
  transform: translateZ(-.5px);
}

#navbar a {
  text-decoration: none;
}

.v_center {
  height: 55vh;
  margin: auto 0;
}

.parallaxContainer {
  height: 66vh;
  position: relative;
  margin-top: -20vh;
}

.parallaxLayer {
  position: absolute;
  width: 26%;
}

.parallaxLayer1 {
  left: 2.3%;
  transform: translateZ(-0.2px) scale(1.05);
}

.parallaxLayer2 {
  left: 7.3%;
  transform: translateZ(-0.4px) scale(1.10);
}

.parallaxLayer3 {
  left: 13.3%;
  transform: translateZ(-0.6px) scale(1.15);
}

@media all and (max-width: 60em) { /* approx = ((totalOptions + 1) * 128) / .7 */
  /*
   * we use the #body selector (which selects decendants of the <body> tag that match the criterion, i.e. everything that matches the criterion) to increase the specificity in order to override stuff.
   * It's a bit cheaty, but it works. 
   */

  #body .navbar_option_container:hover > .navbar_menu {
    display: none;
  }

  #body .navbar_option_container.open > .navbar_menu {
    display: block;
    position: absolute;
    right: 0;
    width: 15em;
    top: 0;
    height: 100vh;
    margin: 0;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #body .navbar_option_container.open #options_end_menu *,
  #body .navbar_option_container.open #options_end_menu {
    background-color: #361c50; /* darker purple */
  }

  #body .navbar_option_container.open #options_toosmall .navbar_menu,
  #body .navbar_option_container.open .navbar_option_container > .navbar_menu {
    display: block;
    width: 13em;
    position: static;
    margin-left: 3em;
    text-align: left !important;
  }

  #body .navbar_option_container.open .navbar_option_container:hover > .navbar_menu > p {
    text-align: left !important;
  }

  #body .navbar_option_container.open .navbar_option_container > p,
  #body .navbar_option_container.open > .navbar_menu > p,
  #body #options_toosmall > p {
    text-align: left !important;
    margin-left: 1em;
  }

  #body #options_toosmall .option_text_navbar,
  #body #options > .navbar_option_container > .navbar_menu .option_text_navbar {
    display: block;
  }

  #body #options_toosmall .option_text_collapsed,
  #body #options > .navbar_option_container > .navbar_menu .option_text_collapsed {
    display: none;
  }

  #body .navbar_option_container.open #options_toosmall {
    display: block;
  }

  #body img.unimportant, #body div.unimportant {
    display: none;
  }

  #body img.right {
    position: relative;
    display: block;
    margin: auto auto;
    width: 66vw;
    height: 66vw;
    right: auto;
    transform: translateZ(0px);
  }

  #body div.left, #body div.right, #body div.center_right {
    position: relative;
    width: 80%;
    margin: auto;
  }

  #body h1.left, #body h1.right {
    text-align: center;
    margin: auto;
    margin-top: 1vh;
    width: 90%;
    overflow-y: visible;
    font-size: 3em;
  }

  #body .notes.moving {
    animation: none; /* they are probably on mobile, so let's not eat all of their ram */
  }
}

h1.left {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
}

#navbar {
  display: inline-block;
  background-color: #472363;
  width: 100%;
  height: 8vh;
  min-height: 64px;
  min-width: 64px;
  top: 0;
  z-index: 100;
}

.navbar_option_container .navbar_menu {
  display: none;
  z-index: 100;
  /* top */
  background-color: #472363;
  position: absolute;
  min-width: 128px;
  margin: auto;
}

.navbar_option_container:hover > .navbar_menu {
  display: block;
  flex-direction: column;
}

.navbar_menu .navbar_option_container .navbar_menu {
  right: 100%;
}

.navbar_menu .navbar_option_container:hover > .navbar_menu {
  display: inline-block;
  min-width: 128px;
}

#options > .navbar_option_container > .option_text_collapsed,
#options > .navbar_option_container > .navbar_menu .option_text_navbar,
#options_toosmall .option_text_navbar {
  display: none;
}

#options_toosmall .option_text_collapsed,
#options > .navbar_option_container .option_text_navbar {
  display: block;
}

#options_end .navbar_menu p:after, 
#options_end .navbar_menu p:hover:after {
  content: '' !important;
}

#options_end .navbar_menu p:before  {
  content: "\ab";
  opacity: 0;
}

p:before, p:after {
  text-align: center;
}

#options_end .navbar_menu p:hover:before  {
  color: #fff;
  opacity: 1;
}

.navbar_option_container:hover > .navbar_menu > p,
.navbar_option_container>p {
  text-align: center;
}

.navbar_option_container:hover > .navbar_menu > p:hover:after {
  content: "\bb";
  color: #fff;
}

.navbar_option_container > .navbar_menu > p:hover,
.navbar_option_container > p:hover,
#options > p:hover {
  color: #c79c1d;
  transition: color .05s linear;
}

#logo_container {
  transition: width 0.5s ease-in-out;
  float: left;
  width: 8vh;
  min-height: 64px;
  min-width: 64px;
  height: 8vh;
  overflow: visible;
}

#options {
  transition: all 0.5s ease-in-out;
  margin-left: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  min-height: 64px;
}

#options>* {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  overflow: hidden;
  min-width: 128px;
  text-align: center;
}

#options>p:hover:after {
  opacity: 1;
  color: #fff;
}

#options>p:after {
  content: '\bb';
  opacity: 0;
}

#navbar_logo {
  display: inline-block;
  height: 8vh;
  width: 8vh;
  min-height: 64px;
  min-width: 64px;
}

div.center_right {
  margin-left: 40%;
  width: 60%;
}

@keyframes moving-notes {
  0% {
    background: url("https://i.imgur.com/Wl6E9rE.png") 0 0; /* link to my img */
    background-size: auto 5vh;
  }

  100% {
    background: url("https://i.imgur.com/Wl6E9rE.png") -1232px 0;
    background-size: auto 5vh;
  }
}

#dragons {
  position: absolute;
  top: -1000px;
  display: none;
}

#content {
  width: 100%;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  perspective: 4px;
  perspective-origin: 13.3%;
}

#marker {
  position: fixed;
}

.notes {
  position: relative;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  margin: 5% 0;
  background-repeat: repeat-x;
  background: url("https://i.imgur.com/Wl6E9rE.png") 0 0;
  background-size: auto 5vh;
}

.notes.moving {
  animation: moving-notes 100s linear infinite;
}

a {
  color: #fff;
}

a:hover,
a:visited:hover {
  color: #c79c1d;
}

a:visited {
  color: #fff;
}

#footer {
  height: 10vh;
  width: 100%;
  background-color: #333;
  box-shadow: 0px 0px 3px 0px black;
  justify-content: center;
  text-align: center;
}

#footerRight {
  box-sizing: border-box;
  padding: 2px;
  float: right;
  height: 10vh;
  width: 50%;
}

#footerLeft {
  box-sizing: border-box;
  padding: 2px;
  float: left;
  height: 10vh;
  width: 50%;
}

#footer p {
  color: #eee;
  margin: 0 0 0 2%;
}

#links svg {
  vertical-align: middle;
}

#links a {
  margin: 2px;
}

.octicon-mark-github {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 0px;
  border-radius: 3px;
}

.octicon-link {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 0px;
  border-radius: 3px;
}